.addItem{
    background-color: #5E4345;
    color: #ffffff;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
}
#dropdownMenuButton1{
    margin-right: 1rem;
}
#saveButton{
    text-align: center;
}