.UserInformation{
    background-color: #F0F0EB;
    width: 85%;
    height: 100%;
    position: fixed;
        top: 12vh;
        left: 15%;
    padding: 5em 5% 50%;
    padding-left: 20vw;
}

.Attribute{
    text-align: right;
}

.form-buttons{
    text-align: right;
}

.form-buttons > button {
    background-color: #5E4345;
    border: none;
    font-size: 1em;
}

.form-buttons > button:hover{
    background-color: #7A2036;
}

.form-buttons > button::after{
    background-color: #7A2036;
}   