
.UserHeader{
    background-color: #ffffff;
    color: #3E2B2E;
    height: 6vh;
    width: 85%;
    position: fixed;
        top: 6vh;
        left: 15%;
    /* margin-left: 15%; */
    padding-top: 0.5em;
    padding-bottom: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.UserPane{
    background-color: #F0F0EB;
    width: 85%;
    height: 100vh;
    position: fixed;
        top: 12vh;
        left: 15%;
    z-index: -1;
}
.UserRowTitle{
    color: #3E2B2E;
    font-weight: bold;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    background-color: #F0F0EB;
    margin-bottom: 3px;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

#AddUser{
    background-color: #3E2B2E;
    color: #ffffff;
}


.right-sidemenu{
    width: 20%;
    height: 100vh;
    position: fixed;
        right: 0;
        top: 0;
    background-color: #ffffff;
}