.sidenav{
    width: 15%;
    height: 100vh;
        position: absolute;
        left: 0%;
        right: 0%;
   
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content:  space-around;
    align-items: center;
    gap: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6d6d6b6e;
   padding: 1rem;
}

.logo1{
    width: 25%;
    min-width: 30px;
    margin-right: -20px;

}
.logo2{
    width: 35%;
    min-width: 70px;
}

.menu ul {
    padding: 2rem 1.5rem;

}

.menu ul li {
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    list-style: none;

}

.menu-list {
    padding: 1rem 0 1rem 2.5rem;
    cursor: pointer;
}

.menu ul li a {
    color: #6D6D6B;
    text-decoration: none;
    transition: color ease 0.3s;
}

.menu ul li a:hover {
    color: #7A2036;
    font-weight: 700;
}

.icon {
    padding-right: 1rem;
}

.inventory-dropdown {
    display: none;
}

.menu:nth-child(2):hover .inventory-dropdown {
    display: block;
}


.inventory-dropdown ul {
    padding-top: 0;
    padding-right: 0;
    
}

.inventory-dropdown ul li {
    font-size: 1rem;
    padding-left: 4rem;
    
}

