.UserPane{
    background-color: #F0F0EB;
    width: 85%;
    margin-left: 15%;
    height: 94vh;
}
.UserRowTitle{
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 6vh;
    text-align: center;
    background-color: #F0F0EB;
    margin-bottom: 3px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}
