.ItemHeader{
    background-color: #ffffff;
    color: #3E2B2E;
    width: 85%;
    margin-left: 15%;
    height: 6vh;
    padding-top: 0.5em;
    padding-bottom: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}
.add-item-form-wrapper {
    background-color: #F0F0EB;
    width: 85%;
    height: 100%;
    position: fixed;
        top: 12vh;
        left: 15%;
    padding: 3em 5em 0 5em;
    /* padding-top: 5em;
    padding-left: 5%;
    padding-right: 10%; */
    /* padding-right: 50%; */
    
    /* display: flex;
    flex-direction: row; */

    /* align-items: center;
    justify-content: center; */
}

/* .form-input{
    min-width: 35vw;
    display: flex;
    flex-direction: row;
    padding: 2rem;
} */
.col-left{
    margin-top: 0;
    margin-bottom: 0;
}
.input-label {
    min-width: 9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: #3E2B2E;
    padding-top: 0.2rem;
}

.text-input {
    flex: 1;
    border: 0;
    border-radius: 10px;
    padding: 0.2rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
}
.text-input::placeholder {
    font-size: 14px;
    font-style: italic;
}

.text-input:focus {
    outline: 0;
}

.button-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding-top: 40%;
    padding-left: 25%;
}

.button {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    padding: 0.5rem 2.5rem;
    border: 0;
    border-radius: 20px;
    margin-top: 2rem;

}

.add-item-action-btn{
    float: right;
    text-align: right;
}

.button:first-of-type {
    border: solid 1px #5E4345;
    background-color: #fff;
}

.button:last-of-type {
    background-color: #5E4345;
    color: #fff;
}

#alert {
    display: none;
}

.addItemColumn{
    position: absolute;
        top: 10%;
        left: 50%;
}
.errormessage{
    position: absolute;
        top: 100%;
        left: 43%;
}
.col-form-label {
    font-size: 0.9em;
    font-weight: bold;
    font-family: "Inter", sans-serif;

}
.button-item{
    margin-left: 15px;
    background-color: #7A2036;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.button-item:hover{
    background-color: #9c2f4f;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
.button-item:focus{
    outline: none;
    box-shadow: 0 0 0 2px rgba(156, 47, 79, 0.5);
}
#import-btn{

    background-color: #7A2036;
    color: #ffffff;
    border: none;
    padding: 0.4em 0.7em;
    margin: 0.3em 0.7em 0.1em 0.7em;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
