.CreateReservation {
    background-color: #F0F0EB;
    width: 100%;
    min-height: 100vh;
    padding-top: 2em;
    z-index: -2;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 60vh;
    display: flex;
    flex-direction: row;
}

.CreateReservationHeader {
    background-color: #ffffff;
    height: 6vh;
    width: 100%;
    color: #7A2036;
    /* position: fixed;
        top: 6vh;
        left: 15%; */
    /* margin-left: 15%; */
    padding-top: 0.5em;
    padding-bottom: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.create-reservation-content{
    padding: 20px;
    width: 100%;
}
.content > div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1em;

    display: flex;
    flex-direction: row;
}
.ReservationForm{
    width: 45%;
    margin-left:3%;
    margin-right: 1%;
    /* float: left; */
    margin-bottom: 10%;

}
#ReservationItemList {
    width: 100%;
}
#Pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 15%;

}
.RightContainer {
    width: 49%;
    margin-right: 3%;
}
 .dateInput{
    width: 100%;
}

.CreateReservationSummary{
    display: none;
    width: 45%;
    float: left;
}

.alert-popout{
    position: fixed;
        top: 0;
        left: 0;
}
.logo {
    width: 40px;
    height: auto;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    vertical-align: middle;
}

.submit-order-btn {
    background-color: #7A2036;
    color: #ffffff;
    border: none;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
    /* I want to make this button corner round */
    border-radius: 10px;
    /* I want to move this button all the way to the right */
    margin-left: 80%;
}

.submit-order-btn:hover {
    background-color: #5a172a;
}

.reserve-btn {
    background-color: #A18B8B!important;
    color: #ffffff !important;
    border: none !important;
    padding: 0.5em 1em !important;
    font-size: 1em !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
    border-radius: 10px !important;
}

.reserve-btn:hover {
    background-color: #5a172a !important;
}

.form-label{
    font-size: 1em;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
#custom-dropdown-row > .col {
    margin-top: 1rem;
    /* margin-right: 1rem; */
}
/* Media query for iPhone 12 (390x844) */
@media screen and (max-width: 400px) {
    .CreateReservation {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
        margin-right: 5%;
    }
    .ReservationForm {
        width: 100%;
       
        margin-left: 3%;
        margin-right: 3%;
    }
    .CreateReservationSummary {
        width: 100%;
        float: none;
    }
    .CreateReservationHeader {
        font-size: 0.9em;
    }
    .content > div {
        font-size: 0.9em;
    }
   
    .create-reservation-content {
        padding: 10px;
    }
    .RightContainer {
        width: 100%;
        margin-right: 2%;
    }
    .submit-order-btn {
        margin-left: 60%;
    }

}