.CreateUser{
    width: 99%;
    height: 94vh;
    background-color: #F0F0EB;
}
.CreateUserForm {
    background-color: #F0F0EB;
    width: 85%;
    height: 100vh;
    position: fixed;
        top: 12vh;
        left: 15%;
    padding-top: 5em;
    padding-left: 5%;
    padding-right: 40%;
}
.content{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 100%;
}

.content > div {
    align-items: center;
    gap: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1em;
    display: flex;
    flex-direction: row;
}
.CreateUserHeader{
    background-color: #ffffff;
    height: 6vh;
    width: 85%;
    color: #7A2036;
    position: fixed;
        top: 6vh;
    /* margin-left: 15%; */
    padding-top: 0.5em;
    padding-bottom: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
}

.errorMessage {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: block;
}
/* 
.btn{
    margin-right: 15px;
} */

.PrevNavbar{
    width: 85%;
    height: 6vh;
    position: absolute;
    top: 6vh;
    left: 15%;
    background-color: white;
}

.prevPageBtn{
    position: absolute;
    height: 30px;
    width: 34.07px;
    left: 1.5%;
    top: 16%;
    cursor: pointer;
}


.form-buttons{
    text-align: right;
}

.form-buttons > button {
    background-color: #5E4345;
    border: none;
    font-size: 1em;
}

.form-buttons > button:hover{
    background-color: #7A2036;
}

.form-buttons > button::after{
    background-color: #7A2036;
}