.CreateReservation {
    background-color: #F0F0EB;
    width: 100%;
    height: 100vh;
    /* position: fixed;
        top: 12vh;
        left: 15%; */
    padding-top: 2em;
    z-index: -2;
}
.CreateReservationHeader {
    background-color: #ffffff;
    height: 6vh;
    width: 100%;
    color: #7A2036;
    /* position: fixed;
        top: 6vh;
        left: 15%; */
    /* margin-left: 15%; */
    padding-top: 0.5em;
    padding-bottom: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    z-index: -1;
}
.create-reservation-content{
    padding: 20px;
    width: 100%;
}
.content > div {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1em;

    display: flex;
    flex-direction: row;
}
.ReservationForm{
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    float: left;
}

 .dateInput{
    width: 100%;
}

.CreateReservationSummary{
    display: none;
    width: 45%;
    float: left;
}

.alert-popout{
    position: fixed;
        top: 0;
        left: 0;
}