.PageHeaderBtn{
    display: inline;
    border: none;

    width: 1.75em;

    background-color: #ffffff;
}

.EditUserForm{
    background-color: #F0F0EB;
    width: 85%;
    height: 100vh;
    position: fixed;
        top: 12vh;
        left: 15%;
    padding-top: 5em;
    padding-left: 5%;
    padding-right: 40%;
}
.form-buttons{
    text-align: right;
}

.emailInfo{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: lightgray;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-buttons > button {
    background-color: #5E4345;
    border: none;
    font-size: 1em;
}

.form-buttons > button:hover{
    background-color: #7A2036;
}

.form-buttons > button::after{
    background-color: #7A2036;
}