.ForgotPassword-Form{
    background: linear-gradient(135deg, rgba(255,255,255,0.3), rgba(255,255,255,0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18 );
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    width: 40%;
    height: 40%;
    position: absolute;
    top: 35%;
    left: 30%;
    padding: 1em;
    padding-left: 5%;
    padding-right: 5%;
}

.email-inputBox {
    border: none;
    outline: 0;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 15px;
    font-size: 1em;
    font-style: italic;

    display: block;
    width: 134%;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.reset-eye-slash{
    width: 3.5%;
    position: absolute;
    top: 29%;
    right: 13.5%;
    transform: translateY(-50%);
    mix-blend-mode: multiply;
    cursor: pointer;
}

.reset-eye-slash2{
    width: 3.5%;
    position: absolute;
    top: 39.5%;
    right: 13.5%;
    transform: translateY(-50%);
    mix-blend-mode: multiply;
    cursor: pointer;
}

#reset-buttons{
    position:fixed;
    left: 40%;
}

.reset-page{
    position: fixed;
    left: 41%;
    width: 17%;
}