.Login-Form {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    padding: 2em;
  }
  
  .Verify {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    padding: 5em;
  }

  .login-form-control {
    border: none;
    outline: 0;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 15px;
    font-size: 1em;
    font-style: italic;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.18 );
  }
  
  #row-3 {
    display: flex;
    justify-content: space-between;
  }
  
  .btn.btn-secondary {
    background: #7A2036;
    border-radius: 30px;
    padding: 0.5em;
    padding-left: 1em;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.18 );
    font-size: 1em;
    width: 100%;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1);

  }
  .btn.btn-secondary:hover {
    background-color: #5a172a;
  }

  
  .col.col-form-label {
    text-align: left;
    margin-left: 0.3em;
    font-size: 0.7em;
    cursor: pointer;
  }
  
  #forgot-pass, #create-account {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    font-family: "Inter", sans-serif;

  }
  
#forgot-pass:hover, #create-account:hover {
    color: #7A2036;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
  }
  
  .img-fluid.img-thumbnail {
    background: none;
    border: none;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  