.NotificationHeader{
    background-color: #ffffff;
    height: 6vh;
    width: 100%;
    color: #7A2036;
    /* position: fixed;
        top: 6vh;
        left: 15%; */
    /* margin-left: 15%; */
    padding-top: 0.5em;
    padding-bottom: 1em;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.25);
    z-index: -1;
}

.NotificationContent{
    background-color: #F0F0EB;
    width: 100%;
    height: 100vh;
    position: relative;
    /* position: fixed;
        top: 12vh;
        left: 15%; */
    padding-top: 5em;
    padding-left: 10%;
    z-index: -2;
    overflow-y: scroll;
}
.NotificationContent > .font-weight-bold{
    font-size: 0.8em;
    font-weight: 550;
    font-family: 'Inter', sans-serif;
}


.col1{
    font-size: 1.6em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    width: 20%;
    float: left;
}
.col2{
    font-size: 1.6em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    float: left;
    width: 80%;
}

#seenCircle{
    display: inline;
    position: absolute;
        left: 5.5%;
        
    width: 30px;
    margin-top: 22px;
    height: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: #7A2036;
}

#notificationBox{
    width: 95%;
    height: 80px;
    margin-bottom: 1%;
    /* background: rgba(255,255,255,0.3); */
    background: white;
    padding: 1%;
    -webkit-box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 4px 6px rgba(0,0,0,0.15);
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}
#NotifyHeader1{
    padding-left: 4%;
}
#NotifyHeader2{
    padding-left: 10%;
}

.notif_page{
    position: absolute;
    left: 0%;
}
.mobile-col-auto-dropdown{
    position: fixed;
    top: 5.5vh;
    right: 10px;
    margin-top: 0.4em;
    margin-right: 0.4em;
}

@media screen and (max-width: 400px) {
    .mobile-col-auto-dropdown {
        position: fixed;
            top: 6vh;
            right: 0;
            margin-top: 0.4em;
            margin-right: 0.4em;
    }
    .div.mobile-content-header{
        margin-left: 100px;
    
    }

}
/* Media query for iPhone 12 (390x844) */
@media screen and (max-width: 400px) {
    .NotificationContent{
        padding-top:20px;
        font-size: 0.8em;
    }

}
/* Media query for smaller phone */
@media screen and (min-width: 376px) and (max-width: 389px) {
    .mobile-col-auto-dropdown {
        position: fixed;
            top: 6vh;
            right: 0;
            margin-top: 0.4em;
            margin-right: 0.4em;
    }
    .mobile-PageHeaderBtn {
        position: fixed;
            top: 6vh;
            right: 0;
            margin-top: 0.4em;
            margin-left: 0.4em;
    }
    .div.mobile-content-header{
        margin-left: 300px;
    }
    .NotificationContent{
        padding-top:10px;
    }

    
}

/* Media query for larger phones (between 401px and 768px width) */
@media screen and (min-width: 401px) and (max-width: 768px) {
    .mobile-col-auto-dropdown {
        position: fixed;
            top: 6vh;
            right: 0;
            margin-top: 0.4em;
            margin-right: 0.4em;
    }   
}