.list-pagination{
    width: 100%;
    position: fixed;
        bottom: 3vh;
}
.list-pagination nav {
    width: 85%;
}
.obj1 > .page-link{
    background-color: #3E2B2E;
    color: #ffffff;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .list-pagination{
        width: 100%;
        position: fixed;
            bottom: 0.1vh;
    }
}