.sidenav{
    width: 15%;
    height: 100vh;
        position: fixed;
        left: 0%;
        right: 0%;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 10px);

}

.sidebar {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content:  flex-start;
    align-items: center;
    gap: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #6d6b6e;
   padding: 1rem;
}

.logo1{
    width: 25%;
    min-width: 30px;
    margin-right: -20px;
}
.logo2{
    width: 35%;
    min-width: 70px;
}
.logo1, .logo2 {
    width: 50%;
}

.menu ul {
    padding: 2rem 1.5rem;

}
.menu ul li {
    list-style: none;
    font-family: 'Inter', sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}


.menu-list {
    padding: 1rem 0 1rem 2.5rem;
    cursor: pointer;
}

 .menu ul li a {
    color: #6D6D6B;
    text-decoration: none;
    transition: color ease 0.3s;
}

.menu ul li:hover a {
    color: #7A2036;
    font-weight: 700;
}

.icon {
    padding-right: 1rem;
}

.menu-list:hover .icon{
    filter: brightness(0) saturate(100%) invert(17%) sepia(20%) saturate(5569%) hue-rotate(318deg) brightness(92%) contrast(94%);
}

.menu:nth-child(2):hover .inventory-dropdown {
    display: block;
}

#location_side{
    padding: 0;
}

#side_location{

    padding: 0px;
    padding-right: 4%;
    filter: invert(44%) sepia(0%) saturate(1390%) hue-rotate(153deg) brightness(94%) contrast(79%);
}
#side_location_text{
    display: inline;
}

/*media query responsive sidebar*/
/* @media (min-width: 601px) and (max-width: 1024px) {
    .menu ul li {
        font-size: 1rem;
    }
    .sidenav {
        width: 10%;
    }
} */
@media screen
  and (min-device-width: 900px)
  and (max-device-width:1440px)
  and (-webkit-min-device-pixel-ratio: 1)
{
    .menu ul {
        list-style-type: none;
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .menu ul li {
        padding: 0.3em;
        margin-left: 0;
        margin-top: 0.5em;
        margin-right: 0;
        list-style: none;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 500;
    }

    .menu-list a {
        color: #6D6D6B;
        text-decoration: none;
        transition: color ease 0.3s;

    }
}
@media screen and (min-width: 1250px) and (max-width: 1600px) {
    .menu ul {
        list-style-type: none;
        font-family: 'Inter', sans-serif;
        font-size: 1.2rem;
        font-weight: 500;
    }
    .menu ul li {
        padding: 0.3em;
        margin-left: 0;
        margin-top: 0.5em;
        margin-right: 0;
        list-style: none;
        font-family: 'Inter', sans-serif;
        font-size: 1rem;
        font-weight: 500;
    }

    .menu-list a {
        color: #6D6D6B;
        text-decoration: none;
        transition: color ease 0.3s;

    }
}
@media screen and (max-width: 1250px) {
    .menu-list a {
        opacity: 0;
        visibility: hidden;
        display: none;
    }
}

